.background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.61) 50%), url("../images/travel_photo_one.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 50px);
  transform: scaleX(-1);
}

.wording {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  color: white;
  font-weight: bold;
  transform: scaleX(-1);
  margin-bottom: 0px;
}

.btn-container {
  transform: scaleX(-1);
  margin-right: 10%;
  margin-top: 1em;
}

.btn {
  background: var(--main-orange);
  border: 1px solid var(--main-grey);
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.btn:active {
  background: var(--main-green);
}

